body {
	background-color:#A2DBFB
}

#doodle {
	outline: none;
	visibility: hidden;
}

.art
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
max-width: 50%;
height: auto;
}

.button
{
	left: 20px;
	bottom: 40px;
	position: absolute;
	outline: none;
	width: 20%;
	height: auto;
}

@font-face {
	font-family: coolvetica;
	src: url("fonts/coolvetica/coolvetica.ttf");
}

#header
{
	background-color: #FB2B55;
	font-size: 48px;
	font-family: coolvetica;
	color: #FFFFFF;
	left: 0px;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	line-height:.80em;
	position: fixed;
	width: 200px;
	display:inline-block;
	z-index: 1;
}

#header:after
{
  content: "";
  position: absolute;
  left: 160px;
  top: 0;
  width: 90px;
  height: 40px;
  background-color: #A2DBFB;
  z-index: -1;
}

@font-face {
	font-family: sunrise international;
	src: url("fonts/sunrise_international/sunrise_international.otf");
}

#spinme {
	font-size: 30px;
	font-family: sunrise international;
	color: #565657;
	z-index: 1;
	position: absolute;
	left: 15%;
	bottom: 0%;
	-webkit-transform: rotate(335deg);
	-moz-transform: rotate(335deg);
	-ms-transform: rotate(335deg);
	-o-transform: rotate(335deg);
	transform: rotate(335deg);
	
}
	

#flag {
  width: 130px;
  height: 90px;
  padding-left: 15px;
  position: absolute;
  right: 0px;
  bottom: 30px;
  background: #FB2B55;
  color: #FFFFFF;
  font-family: coolvetica;
  font-size: 35px;
  text-align: center;
  line-height: .8em;
}
#flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid #A2DBFB;
  border-top: 45px solid transparent;
  border-bottom: 45px solid transparent;
}

#info {
	color: #FFFFFF;
  font-family: sunrise international;
  font-size: 30px;
  width: 20%;
  position: absolute;
  top: 15%;
  left: 78%;
  z-index: 1;
}

#plus {
	position: absolute;
	top: 15%;
	right: 20%;
	width: 30px;
	height: auto;
	visibility: hidden;
}
	
.titletext {
	color: #565657;
}